@use './partials/vars' as *;
@import 'bootstrap/scss/bootstrap';


body{
  font-family: 'Merriweather', serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.general-container{
  margin: 0 auto;
  width: 90%;
  max-width: 1125px;
    
}